body {
  background-color: #222;
  overflow: hidden;
}

canvas {
  background:#222; /*radial-gradient(circle,red,black);*/
  display: block;
  margin: 0 auto;
  margin:calc(50vh - 200px - 5em) auto;
}

p {
  color: #777;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 3em 0 1em 0;
  font-weight: normal;
}