<style>

p{
  color: white;
  text-align: center; 
}

body{
    background: black;
    color: white;
    font-family: Helvetica;
    text-align: center; 
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: auto;
}

</style>

    